body {
    background-color: black;
    color: white;
    padding: 20px;
    max-width: 850px;
    margin: auto;
    font-size: 18px;
    font-family: sans-serif ;
}

@media (max-width: 800px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2.5em;
    }
    }

.division0{
    display: flex;
    align-items: center;
    justify-content: center;
}

.division0-0{
    display: flex;
    align-items: center;
    justify-content: center;
}


.division1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tagline {
    font-size: 70px;
}

.division2{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    justify-content: center;
}

.division2 :hover{
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    transition: 0.5s;
}

#card-title{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: small;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}
